#zone-one {
    margin-top: 10;
}

.container-menu {
    width: fit-content;
    display: inline-block;
    margin-right: 15px;
}

#base {
    margin: 15px;
}

.youtube-left {
    font-size: 25px;
}

.btn-circle {
    border-radius: 50% !important;
}

.container-btn-create {
    width: fit-content;
    display: inline-block;
    margin-right: 10px;
}

.container-search {
    width: 75%  !important;
    display: inline-block;
    margin-right: 10px;
}

.container-btn-microphone {
    width: fit-content;
    display: inline-block;
}

.container-zone-user {
    width: fit-content;
    display: inline-block;
}
